/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*, *::before, *::after, *:hover {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  display: flex;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header.header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
  position: relative;
  height: 70px;
}

.header .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #08A6E4;
  padding: 0 15px;
}

.header nav {
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  text-transform: uppercase;
  font-size: 11px;
  border: black;
}
@media (max-width: 900px) {
  .header nav {
    gap: 30px;
  }
}

.header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #A5A5A5;
  padding: 20px 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.header nav a:hover {
  color: #000000;
  border-bottom: 4px solid #08A6E4;
}

.burger {
  display: none;
  background: white;
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 600px) {
  .burger {
    display: block;
  }
  .burger span {
    width: 20px;
    height: 2px;
    display: block;
    margin-bottom: 3px;
    background-color: #08A6E4;
  }
  .burger:last-child {
    margin-bottom: 0;
  }
  .burger.is-x span:nth-child(1) {
    transform: rotate(45deg) translate(2px, 5px);
  }
  .burger.is-x span:nth-child(2) {
    opacity: 0;
  }
  .burger.is-x span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -5px);
  }
}

@media (max-width: 600px) {
  header .container {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    align-items: center;
  }

  nav.menu {
    min-width: 200px;
    height: 150px;
    background: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: 1s max-height;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding: 0 24px;
  }

  .menu.is-show {
    max-height: 250px;
    box-shadow: 0 3px 6px #00000029;
  }

  nav.menu a {
    padding: 0;
    font-weight: bold;
    border: 0;
    height: auto;
  }

  nav.menu a:hover {
    color: #000000;
    border: none;
  }
}
section.entry {
  max-width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.entry .container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
@media (max-width: 600px) {
  .entry .container {
    height: 50vh;
    justify-content: space-between;
  }
}

.entry h1 {
  font-size: 49px;
  padding-top: 100px;
}
@media (max-width: 600px) {
  .entry h1 {
    font-size: 35px;
    line-height: 41px;
  }
}

.entry p {
  font-size: 16px;
}
@media (max-width: 600px) {
  .entry p {
    padding: 0 70px;
    text-align: center;
  }
}

.entry a.btn {
  background-color: #08A6E4;
  border-radius: 40px;
  box-shadow: 5px 10px 14px #07ACE629;
  color: #FFFFFF;
  padding: 23px 157px;
  text-align: center;
}
@media (max-width: 600px) {
  .entry a.btn {
    padding: 23px 92px;
    font-size: 16px;
  }
}

.entry img {
  width: 100%;
  height: auto;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}
@media (max-width: 900px) {
  .entry img {
    width: 150%;
    transform: translateX(15%);
  }
}
@media (max-width: 600px) {
  .entry img {
    width: 200%;
    transform: translateX(25%);
  }
}

section.statistics .container {
  padding-top: 95px;
  padding-bottom: 95px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*gap: 100px;*/
}
@media (max-width: 900px) {
  section.statistics .container {
    justify-content: start;
    padding-top: 0;
    height: 100vh;
  }
}

.statistics h2 {
  font-size: 36px;
  text-align: center;
  padding: 50px 36px;
}
@media (max-width: 900px) {
  .statistics h2 {
    font-size: 30px;
    padding: 20px 36px;
  }
}

.statistics-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .statistics-content {
    flex-direction: column;
    gap: 30px;
  }
}

.icon {
  position: relative;
  text-align: center;
}

.circle {
  height: 63px;
  width: 63px;
  border-radius: 50%;
}

.icon img {
  height: 52px;
  width: auto;
  position: absolute;
  bottom: 7px;
  left: 30px;
}

.fact-one .circle {
  background-color: #FB3B64;
}

.fact-two .circle {
  background-color: #08A6E4;
}

.fact-three .circle {
  background-color: #55DFB4;
}

.statistics h4 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 6px;
}

.statistics p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #A5A5A5;
  line-height: 19px;
}

div.fact-one, div.fact-two, div.fact-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fact-one p, .fact-two p, .fact-three p {
  padding: 0 20px;
  width: 163px;
}

section.benefits {
  background-color: #F7F7F7;
  padding: 100px 0;
}

section.benefits .container {
  padding: 0 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 600px) {
  section.benefits .container {
    padding: 0 10px;
  }
}

article {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*margin-bottom: 37px;*/
  border-radius: 5px;
}
@media (max-width: 990px) {
  article {
    display: block;
    height: 100%;
  }
}

.article-one, .article-two, .article-three {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.article-one .article-figure, .article-two .article-figure {
  background-color: #FFFFFF;
}

.article-three {
  background-color: transparent;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 415px;
  margin: 90px 36px;
  background-color: #FFFFFF;
}
@media (max-width: 990px) {
  .article-text {
    margin: 10px 36px;
    width: 90%;
    max-width: 750px;
  }
}

.article-text h2 {
  font-size: 36px;
  font-weight: 400;
}
@media (max-width: 1050px) {
  .article-text h2 {
    font-size: 30px;
  }
}

.article-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 30px;
}
@media (max-width: 1050px) {
  .article-text p {
    font-size: 14px;
  }
}

.article-text p::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  margin-top: 50px;
}
@media (max-width: 990px) {
  .article-text p::after {
    display: none;
  }
}

.article-one p::after {
  background-color: #FB3B64;
}

.article-two p::after {
  background-color: #08A6E4;
}

.article-three p::after {
  background-color: #55DFB4;
}

.article-one, .article-three {
  flex-direction: row-reverse;
}

.article-two {
  width: 100%;
  flex-direction: row;
  padding: 0 20px 0 70px;
  min-height: 390px;
}
@media (max-width: 1020px) {
  .article-two {
    padding: 0;
  }
}
@media (max-width: 990px) {
  .article-two {
    padding: 0 0 10px 0;
  }
}
@media (max-width: 660px) {
  .article-two {
    min-height: 400px;
  }
}

div.article-figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-one .article-figure img {
  position: relative;
  width: 387px;
  height: auto;
  margin-right: 117px;
  margin-bottom: 38px;
  z-index: 3;
  align-self: center;
}
@media (max-width: 1093px) {
  .article-one .article-figure img {
    width: 37vw;
    min-width: 300px;
  }
}
@media (max-width: 990px) {
  .article-one .article-figure img {
    min-width: 200px;
    width: 37vw;
    margin-right: 67px;
    margin-top: 100px;
  }
}

.article-one .article-figure div {
  position: absolute;
  right: 100px;
  bottom: 130px;
  width: 180px;
  height: 180px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  border-radius: 41px;
  background-color: #FB3B64;
  align-self: center;
}
@media (max-width: 1093px) {
  .article-one .article-figure div {
    min-width: 130px;
    width: 17vw;
    min-height: 130px;
    height: 17vw;
  }
}
@media (max-width: 990px) {
  .article-one .article-figure div {
    min-width: 90px;
    width: 17vw;
    min-height: 90px;
    height: 17vw;
    right: 30%;
    top: 20%;
  }
}
@media (max-width: 600px) {
  .article-one .article-figure div {
    right: 30%;
    top: 27%;
  }
}

.article-two div.article-figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 990px) {
  .article-two div.article-figure {
    max-height: 250px;
  }
}

.article-two .article-figure img {
  position: relative;
  width: 426px;
  height: auto;
  z-index: 3;
}
@media (max-width: 990px) {
  .article-two .article-figure img {
    min-width: 175px;
    width: 28vw;
  }
}

.article-two .article-figure div {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: #08A6E4;
}
@media (max-width: 990px) {
  .article-two .article-figure div {
    min-width: 132px;
    min-height: 132px;
    width: 20vw;
    height: 20vw;
    top: 15%;
    left: 36%;
  }
}
@media (max-width: 660px) {
  .article-two .article-figure div {
    top: 15%;
    left: 30%;
  }
}
@media (max-width: 420px) {
  .article-two .article-figure div {
    left: 25%;
  }
}

.article-three {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
@media (max-width: 990px) {
  .article-three {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
  }
}

div.column-one {
  max-width: 620px;
  background-color: #FFFFFF;
}
@media (max-width: 990px) {
  div.column-one {
    width: 100%;
  }
}

.column-one .article-text {
  margin: 70px 35px;
  max-width: none;
}

.article-three div.article-figure {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  background-color: #55DFB4;
  border: none;
}

.article-three .article-figure img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}
@media (max-width: 660px) {
  .article-three .article-figure img {
    margin-left: -190px;
    width: 245px;
  }
}

section.pricing .container {
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

section.pricing h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.boxes {
  display: flex;
  gap: 58px;
  align-items: center;
}
@media (max-width: 1096px) {
  .boxes {
    flex-direction: column;
  }
}

.box-one, .box-two, .box-three {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 461px;
  gap: 20px;
  border-radius: 18px;
  border: 1px solid;
  padding: 30px 90px;
  position: relative;
}
@media (max-width: 1096px) {
  .box-one, .box-two, .box-three {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .box-one, .box-two, .box-three {
    width: 85%;
    margin: 23px;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.box-two {
  gap: 30px;
  height: 500px;
}
@media (max-width: 600px) {
  .box-two {
    width: 95%;
  }
}

.boxes p {
  font-size: 60px;
  text-align: center;
  line-height: 0.4;
  padding-top: 20px;
}

.boxes span {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: black;
  font-weight: 700;
}

.boxes h3 {
  font-size: 20px;
  font-weight: 700;
}

div.box-one {
  border-color: #FB3B64;
}

div.box-one p {
  color: #FB3B64;
}

div.box-two {
  border-color: #08A6E4;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.16);
}

div.box-two p {
  color: #08A6E4;
}

div.box-two h3 {
  font-size: 21px;
}

div.box-three {
  border-color: #55DFB4;
}

div.box-three p {
  color: #55DFB4;
}

.boxes ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  line-height: 41px;
}

.box-one ul li:nth-child(1)::before, .box-one ul li:nth-child(2)::before, .box-one ul li:nth-child(3)::before,
.box-two ul li:nth-child(1)::before, .box-two ul li:nth-child(2)::before, .box-two ul li:nth-child(3)::before, .box-two ul li:nth-child(4)::before,
.box-three ul li::before {
  content: url("../assets/Checkmark-1.svg");
  margin-right: 10px;
  height: 11px;
  width: 11px;
}

.box-one ul li:nth-last-child(1)::before, .box-one ul li:nth-last-child(2)::before,
.box-two ul li:nth-last-child(1)::before {
  content: url("../assets/Close.svg");
  margin-right: 10px;
  height: 11px;
  width: 11px;
}

.boxes a {
  font-size: 13px;
  background-color: #08A6E4;
  border-radius: 23px;
  color: #FFFFFF;
  padding: 16px 64px;
  position: absolute;
  bottom: -25px;
}

.box-one a {
  background-color: #FB3B64;
}

.box-two a {
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
}

.box-three a {
  background-color: #55DFB4;
}

section.contact .container {
  padding: 80px 250px 80px 250px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1120px) {
  section.contact .container {
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
    gap: 30px;
  }
}

.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}
@media (max-width: 1120px) {
  .contact-info {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .contact-info {
    width: 100%;
    padding: 0 30px 0 30px;
  }
}

.contact-info h2 {
  font-size: 49px;
  font-weight: 400;
  line-height: 57px;
}
@media (max-width: 600px) {
  .contact-info h2 {
    font-size: 40px;
  }
}

.contact-info p {
  font-size: 16px;
  font-weight: 400;
}

.contact-info ul {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
  gap: 10px;
}
@media (max-width: 600px) {
  .contact-info ul {
    flex-wrap: wrap;
  }
}

.contact-info ul li:first-child::before {
  content: url("../assets/Mail Icon.svg");
  margin: 0;
  padding: 0;
  height: 27px;
  width: 27px;
  align-self: baseline;
}

.contact-info ul li:last-child::before {
  content: url("../assets/Phone Icon.svg");
  margin: 0;
  padding: 0;
  height: 27px;
  width: 27px;
}

div.contact-form {
  width: 50%;
}
@media (max-width: 1120px) {
  div.contact-form {
    width: 80%;
  }
}
@media (max-width: 600px) {
  div.contact-form {
    width: 100%;
    padding: 0 30px 0 30px;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

label.name, label.email {
  font-size: 11px;
  text-transform: uppercase;
  color: #08A6E4;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 3.3px;
  margin: 15px 0;
}

input[type=text], input[type=email] {
  border: none;
  border-bottom: 1px solid #A5A5A5;
  height: 2em;
}

.form__consent {
  margin-top: 30px;
  margin-right: 100px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  color: #A5A5A5;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox span.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border: 1px solid #A5A5A5;
  border-radius: 4px;
}

.form__checkbox input:checked ~ span.checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

button {
  align-self: flex-end;
  width: 226px;
  height: 57px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  border: none;
  border-radius: 35px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
}

footer {
  background-color: #F7F7F7;
  box-shadow: 0px -5px 40px #00000029;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

footer .logo {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  color: #08A6E4;
  justify-content: space-evenly;
  line-height: 30px;
  gap: 7px;
}

footer .copy {
  font-size: 11px;
  color: #A5A5A5;
  line-height: 15px;
}

div.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
@media (max-width: 600px) {
  div.links {
    justify-content: flex-start;
  }
}

/*
img {
  width: 48px;
  height: auto;
@media (max-width: 600px)
{
    width: 20px;
    height: 20px;
  }
}*/
/*# sourceMappingURL=main.css.map */
