header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    }
header .container {
    justify-content: space-between;
    align-items: center;
    }
.logo {
    font-size: 32px;
    color: var(--color-primary);
}
nav {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 95px;
    text-transform: uppercase;
    font-size: 11px;
    border: black;
    }

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--color-grey);
    padding: 20px 0;
    border-bottom: 4px solid rgba(0,0,0,0);
    }
nav a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.entry .container{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-top: 130px;
}
.entry h1 {
font-size: 49px;
}
.entry p {
    font-size: 16px;
}
.entry a.btn {
   background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    color: var(--color-white);
    padding: 23px 157px;
}
img {
    width: 100%;
    height: auto;
}
section.statistics .container {
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
       }
.statistics h2 {
    font-size: 36px;
}
.statistics-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.icon {
    position: relative;
    text-align: center;
}
.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;

}
.icon img {
    height: 52px;
    width: auto;
    position: absolute;
    bottom: 7px;
    left: 30px;}

.fact-one .circle {
    background-color: var(--color-redish);
}
.fact-two .circle {
    background-color: var(--color-primary);
}
.fact-three .circle {
    background-color: var(--color-green);
}
.statistics h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;

}
.statistics p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-grey);
    line-height: 19px;
}

div.fact-one, div.fact-two, div.fact-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fact-one p, .fact-two p, .fact-three p {
    padding: 0 20px;
    width: 163px;
}
section.benefits {
    background-color: var(--color-light-grey);
}
section.benefits .container {
    padding: 100px 0;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
article {
    display: flex;
    width: 1124px;
    min-height: 370px;
    justify-content: space-between;

    }
.article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    gap: 50px;
}
.article-text h2 {
    font-size: 36px;
    font-weight: 400;
}
.article-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.article-text p::after{
    content: "";
    width: 332px;
    height: 4px;

    display: block;
    margin-top: 50px;
}
.article-one p::after {
    background-color: var(--color-redish);
}
.article-two p::after {
    background-color: var(--color-primary);
}
.article-three p::after {
    background-color: var(--color-green);
}
.article-one, .article-three {
    flex-direction: row-reverse;
}
.article-two {
     flex-direction: row;
}

div.article-figure {
    position: relative;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-one .article-figure img {
    position: relative;
    left: -20px;
    width: 387px;
    height: auto;
    z-index: 3;
}
.article-one .article-figure div {
    position: absolute;
    right: 23px;
    top: 15px;
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    background-color: var(--color-redish);
    }
.article-two .article-figure img {
    position: relative;
    width: 420px;
    height: auto;
    z-index: 3;
}
.article-two .article-figure div {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--color-primary);
}
.article-three .article-figure {
    width: 440px;
    height: 370px;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-three .article-figure img {
    width: 295px;
    height: auto;
    top: 98px;
     }
div.article-text
{
    background-color: var(--color-white);
}
.article-one .article-figure, .article-two .article-figure {
    background-color: var(--color-white);
}

.article-three {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
section.pricing .container{
    padding: 100px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    }
section.pricing h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.boxes {
    display: flex;
    gap: 58px;
    align-items: center;
    }
.box-one, .box-two, .box-three {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 461px;
    gap: 20px;
    border-radius: 18px;
    border: 1px solid;
    padding: 30px 90px;
    position: relative;
}
.box-two {
    gap: 30px;
    height: 500px;
}
.boxes p {
    font-size: 60px;
    text-align: center;
    line-height: 0.4;
    padding-top: 20px;
}
.boxes span {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 700;
}
.boxes h3 {
    font-size: 20px;
    font-weight: 700;
}
div.box-one {
border-color: var(--color-redish);
}
div.box-one p {
    color: var(--color-redish);
}
div.box-two {
    border-color: var(--color-primary);
    box-shadow: 5px 10px 27px rgba(7, 172, 230, .16);
}
div.box-two p {
    color: var(--color-primary);
}
div.box-two h3 {

    font-size: 21px;
}
div.box-three {
    border-color: var(--color-green);
}
div.box-three p {
    color: var(--color-green);
}

.boxes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    line-height: 41px;
}

.box-one ul li:nth-child(1)::before, .box-one ul li:nth-child(2)::before, .box-one ul li:nth-child(3)::before,
.box-two ul li:nth-child(1)::before, .box-two ul li:nth-child(2)::before, .box-two ul li:nth-child(3)::before, .box-two ul li:nth-child(4)::before,
.box-three ul li::before{
    content: url("../assets/Checkmark-1.svg");
    margin-right: 10px;
    height: 11px;
    width: 11px;
    }
.box-one ul li:nth-last-child(1)::before, .box-one ul li:nth-last-child(2)::before,
.box-two ul li:nth-last-child(1)::before{
    content: url("../assets/Close.svg");
    margin-right: 10px;
    height: 11px;
    width: 11px;
}
.boxes a {
font-size: 13px;
    background-color: var(--color-primary);
    border-radius: 23px;
    color: var(--color-white);
    padding: 16px 64px;
    position: absolute;
    bottom: -25px;
}
.box-one a{
    background-color: var(--color-redish);
}
.box-two a{
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.box-three a{
    background-color: var(--color-green);
}