header {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    }
header .container {
    justify-content: space-between;
    align-items: center;
    }
.logo {
    font-size: 32px;
    color: var(--color-primary);
}
nav {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 95px;
    text-transform: uppercase;
    font-size: 11px;
    border: black;
    }

nav a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--color-grey);
    padding: 20px 0;
    border-bottom: 4px solid rgba(0,0,0,0);
    }
nav a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.entry .container{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-top: 130px;
}
.entry h1 {
font-size: 49px;
}
.entry p {
    font-size: 16px;
}
.entry a.btn {
   background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    color: var(--color-white);
    padding: 23px 157px;
}
img {
    width: 100%;
    height: auto;
}
section.statistics .container {
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
       }
.statistics h2 {
    font-size: 36px;
}
.statistics-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.icon {
    position: relative;
    text-align: center;
}
.circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;

}
.icon img {
    height: 52px;
    width: auto;
    position: absolute;
    bottom: 7px;
    left: 30px;}

.fact-one .circle {
    background-color: var(--color-redish);
}
.fact-two .circle {
    background-color: var(--color-primary);
}
.fact-three .circle {
    background-color: var(--color-green);
}
.statistics h4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;

}
.statistics p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-grey);
    line-height: 19px;
}

div.fact-one, div.fact-two, div.fact-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fact-one p, .fact-two p, .fact-three p {
    padding: 0 20px;
    width: 163px;
}