section.entry {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
justify-content: space-between;
  overflow: hidden;
}
.entry .container{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  @media (max-width: 600px) {
    height: 50vh;
    justify-content: space-between;
  }

}
.entry h1 {
  font-size: 49px;
  padding-top: 100px;
  @media (max-width: 600px) {
    font-size: 35px;
    line-height: 41px;
  }
}
.entry p {
  font-size: 16px;
  @media (max-width: 600px) {
    padding: 0 70px;
    text-align: center;
  }
}
.entry a.btn {
  background-color: $color-primary;
  border-radius: 40px;
  box-shadow: 5px 10px 14px #07ACE629;
  color: $color-white;
  padding: 23px 157px;
  text-align: center;
  @media (max-width: 600px) {
    padding: 23px 92px;
    font-size: 16px;
  }
}
.entry img {
  width: 100%;
  height: auto;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  @media (max-width: 900px) {
    width: 150%;
    transform: translateX(15%);
  }
  @media (max-width: 600px) {
    width: 200%;
    transform: translateX(25%);
  }

}