header.header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
  position: relative;
  height: 70px;
}

.header .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: $color-primary;
  padding: 0 15px;
}

.header nav {
  width: 50%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 70px;
  text-transform: uppercase;
  font-size: 11px;
  border: black;
  @media (max-width: 900px) {
    gap: 30px;
  }
}

.header nav a {
  display: flex;
  align-items: center;
  height: 100%;
  color: $color-grey;
  padding: 20px 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.header nav a:hover {
  color: $color-black;
  border-bottom: 4px solid $color-primary;
}


.burger {
  display: none;
  background: white;
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-radius: 0;

  @media (max-width: 600px) {
    display: block;
    span {
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom: 3px;
      background-color: $color-primary;
    }
    &:last-child {
      margin-bottom: 0;
    }

   &.is-x {

      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(2px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(2px, -5px);
        }
      } }
  }

}

@media (max-width: 600px) {
  header .container {
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
    align-items: center
  }

  nav.menu {
    min-width: 200px;
    height: 150px;
    background: $color-white;
    max-height: 0;
    overflow: hidden;
    transition: 1s max-height;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    padding: 0 24px;
  }

  .menu.is-show {
    max-height: 250px;
    box-shadow: 0 3px 6px #00000029;
  }
  nav.menu a {
    padding: 0;
    font-weight: bold;
    border: 0;
    height: auto;
  }
  nav.menu a:hover {
    color: $color-black;
    border: none;
  }
}

